<rect class="st0" width="{{width}}" height="{{height}}" style="opacity: .1;"/>
<foreignObject width="{{width}}" height="{{height}}">
  {{#if true}}
    {{! This seemingly useless if makes the foreignObject work for reasons unknown}}
    <div>{{node.service.type}}</div>
  {{/if}}
</foreignObject>
