<g>
  <rect x="{{xCoord}}" y="{{yCoord}}" class="st0" width="235" height="66"  style="opacity: .1;"/>
  <g transform="translate({{xCoord}}, {{yCoord}})">
    <foreignobject x="{{xCoord}}" y="{{yCoord}}"  width="235" height="66" requiredExtensions="http://www.w3.org/1999/xhtml" >
      <div xmlns="http://www.w3.org/1999/xhtml">
        {{service.type}}
      </div>
    </foreignobject>
  </g>
</g>
