<g>
  <rect x="{{xCoord}}" y="{{yCoord}}" class="st0" width="235" height="66"  style="opacity: .1;"/>
  <g transform="translate(0,0)">
    <foreignObject x="{{xCoord}}" y="{{yCoord}}"  width="235" height="66" requiredFeatures="http://www.w3.org/TR/SVG11/feature#Extensibility" >
      <body  xmlns="http://www.w3.org/1999/xhtml">
        <div>
          {{service.type}}
        </div>
      </body>
    </foreignObject>
  </g>
</g>
